
# Ignore everything
*
/*/
# But not these files...
!.gitignore
!bibliography.bib
!generateHTML.sh
!generateMobi.sh
!main.tex
!structure.tex

#And not these folders...
!/machine-learning/
!/output/
!/Pictures/
